<a href="https://colab.research.google.com/github/R161511/ALURA/blob/main/Introdu%C3%A7%C3%A3o_a_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [ ]:
idades = [39, 30, 27, 18]
print(idades)
type(idades)

[39, 30, 27, 18]

list

In [ ]:
len(idades)

4

In [ ]:
idades

[39, 30, 27, 18]

In [ ]:
idades[1]
idades[2]
idades[3]

18

In [ ]:
idades.append(15)

In [ ]:
idades[4]

15

In [ ]:
idades

[39, 30, 27, 18, 15, 15, 15]

In [ ]:
idades

[39, 30, 27, 18, 15, 15, 15]

In [ ]:
for idade in idades:
  print(idade)

39
30
27
18
15
15
15

In [ ]:
idades.remove(15)

In [ ]:
idades

[39, 30, 27, 18, 15, 15]

In [ ]:
idades.remove(15)

In [ ]:
idades

[39, 30, 27, 18, 15]

In [ ]:
28 in idades

False

In [ ]:
15 in idades

True

In [ ]:
if 15 in idades:
  idades.remove(15)

In [ ]:
idades

[39, 30, 27, 18]

In [ ]:
if 28 in idades:
  idades.remove(28)

In [ ]:
idades

[39, 30, 27, 18]

In [ ]:
idades.append(36)

In [ ]:
idades

[39, 30, 27, 18, 36]

In [ ]:
idades.insert(0,27)
idades

[27, 27, 39, 30, 27, 18, 36]

In [ ]:
idades.remove(27)
idades

[27, 39, 30, 27, 18, 36]

In [ ]:
for elemento in idades:
  print("Recebi o elemento", elemento)

Recebi o elemento 27
Recebi o elemento 39
Recebi o elemento 30
Recebi o elemento 27
Recebi o elemento 18
Recebi o elemento 36

In [ ]:
for idade in idades:
  print(idade + 1)

28
40
31
28
19
37

In [ ]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade+1)
idades_no_ano_que_vem

[28, 40, 31, 28, 19, 37]

In [ ]:
[(idade+1)for idade in idades]

[28, 40, 31, 28, 19, 37]

In [ ]:
[(idade)for idade in idades if idade > 21]

[27, 39, 30, 27, 36]

In [ ]:
idades

[27, 39, 30, 27, 18, 36]

In [ ]:
def proximo_ano(idade):
  return idade+1

[proximo_ano(idade) for idade in idades if idade > 30]

[40, 37]

In [ ]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

In [ ]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43, 13]

In [ ]:
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]
0
[]
0
[]

OBJETOS PRÓPRIOS

In [ ]:
  class ContaCorrente:
    def __init__(self, codigo):
      self.codigo = codigo
      self.saldo = 0

    def deposita(self, valor):
      self.saldo += valor

    def __str__(self):
      return"[>> Codigo {} Saldo {} <<] ".format(self.codigo, self.saldo)

In [ ]:
conta_do_rafa = ContaCorrente(15)
print(conta_do_rafa)

[>> Codigo 15 Saldo 0 <<]

In [ ]:
conta_do_rafa.deposita(500)
print(conta_do_rafa)

[>> Codigo 15 Saldo 500 <<]

In [ ]:
conta_da_aline = ContaCorrente(47685)
conta_da_aline.deposita(1000)
print(conta_da_aline)

[>> Codigo 47685 Saldo 1000 <<]

In [ ]:
contas = [conta_do_rafa, conta_do_rafa]
for conta in contas:
  print(conta)

[>> Codigo 15 Saldo 500 <<]
[>> Codigo 15 Saldo 500 <<]

In [ ]:
contas = [conta_do_rafa, conta_da_aline, conta_do_rafa]
print(contas[0])

[>> Codigo 15 Saldo 500 <<]

In [ ]:
conta_do_rafa.deposita(100)

In [ ]:
print(contas[0])

[>> Codigo 15 Saldo 600 <<]

In [ ]:
print(contas[2])

[>> Codigo 15 Saldo 600 <<]

In [ ]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [conta_do_rafa, conta_da_aline]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>> Codigo 15 Saldo 600 <<]  [>> Codigo 47685 Saldo 1000 <<]
[>> Codigo 15 Saldo 700 <<]  [>> Codigo 47685 Saldo 1100 <<]

In [ ]:
def deposita(conta):
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

In [ ]:
conta_do_rafa = ContaCorrente(15)
conta_do_rafa.deposita(500)
conta_da_aline = ContaCorrente(234876)
conta_da_aline.deposita(1000)

contas = (conta_do_rafa, conta_da_aline)

In [ ]:
for conta in contas:
  print(conta)

[>> Codigo 15 Saldo 500 <<]
[>> Codigo 234876 Saldo 1000 <<]

In [ ]:
contas[0].deposita(300)

In [ ]:
for conta in contas:
  print(conta)

[>> Codigo 15 Saldo 800 <<]
[>> Codigo 234876 Saldo 1000 <<]

# HERANÇA E POLIMORFISMO

In [ ]:
  class Conta:
    def __init__(self, codigo):
      self._codigo = codigo
      self._saldo = 0

    def deposita(self, valor):
      self._saldo += valor

    def __str__(self):
      return"[>> Codigo {} Saldo {} <<] ".format(self._codigo, self._saldo)

In [ ]:
print(Conta(88))

[>> Codigo 88 Saldo 0 <<]

In [ ]:
class ContaCorrente(Conta):
  
  def passa_o_mes(self):
    self._saldo -=2

class ContaPoupanca(Conta):

  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>> Codigo 16 Saldo 998 <<]

In [ ]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta16)

[>> Codigo 16 Saldo 1007.0 <<]

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 =ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
  conta.passa_o_mes()
  print(conta)

[>> Codigo 16 Saldo 998 <<]
[>> Codigo 17 Saldo 1007.0 <<]

ARRAY , EVITAREMOS USAR

In [ ]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [ ]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.18.5)

In [ ]:
import numpy as np
numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [ ]:
numeros + 3

array([4. , 6.5])

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo )

In [ ]:
conta1 = ContaSalario(37)
print(conta1)

[>>Codigo 37 Saldo 0<<]

In [ ]:
conta2 = ContaSalario(37)
print(conta2)

[>>Codigo 37 Saldo 0<<]

In [ ]:
conta1 == conta2

True

In [ ]:
contas = [conta1]
conta1 in contas

True

In [ ]:
conta2 in contas

True

In [ ]:
conta2 in [conta1]

True

In [2]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo )

class ContaMultiploSalario(ContaSalario):
  pass

In [3]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)

In [4]:
conta1 == conta2

In [5]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [6]:
list(range(len(idades)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [7]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [8]:
for valor in enumerate (idades):
  print(valor)

(0, 15)
(1, 87)
(2, 32)
(3, 65)
(4, 56)
(5, 32)
(6, 49)
(7, 37)

In [9]:
for indice, idade in enumerate (idades):
  print(indice, "x", idade)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [10]:
usuarios = [
            ("Rafael", 36, 1984),
            ("Aline", 32, 1988),
            ("Rangel", 31, 1989),
]

for nome, idade, nascimento in usuarios: 
  print(nome)

Rafael
Aline
Rangel

In [11]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [12]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [13]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [15]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [35]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    return self._saldo < outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>> Codigo {} Saldo {} <<]".format(self._codigo, self._saldo )

In [36]:
conta_do_rafa = ContaSalario(17)
conta_do_rafa.deposita(500)

conta_da_aline = ContaSalario(3)
conta_da_aline.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_rafa, conta_da_aline, conta_do_paulo]

In [37]:
conta_do_rafa < conta_da_aline

True

In [38]:
conta_do_rafa > conta_da_aline

False

In [39]:
for conta in sorted(contas):
  print(conta)

[>> Codigo 17 Saldo 500 <<]
[>> Codigo 133 Saldo 510 <<]
[>> Codigo 3 Saldo 1000 <<]

In [40]:
for conta in sorted(contas, reverse=True):
  print(conta)

[>> Codigo 3 Saldo 1000 <<]
[>> Codigo 133 Saldo 510 <<]
[>> Codigo 17 Saldo 500 <<]